.padding{
    padding: 25px;
  }
  
  #formulario{
    padding: 25px;
  }
  
  img {
    width: 100%;
  }
  
  #text{
    margin-left:45%;
  }

  
  button {
    background-color: darkolivegreen;
    font-size: 16px;
    width: 95%;
    height: 50px;
    border-radius: 15px;
    margin: 15px;
    color: white;
  }
  
  // ion-content.background{
  //   --background: url(../../../assets/img/arrow-hand-shooting-forest-royalty-free-thumbnail.jpg) 0 0/100% 100% no-repeat;
  //   --background-repeat: no-repeat;
  //   --background-position: center;
  //   --background-size: contain;
  // }